### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Basics
*.py[cod]
__pycache__

# Logs
logs
*.log

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# Pycharm
.idea/*

# virtual environments
.env

# encryption keys
key_rsa
key_rsa.pub
