{% extends "base.html" %}

{% block title %}
    Admin Word Counter
{% endblock %}

{% block content %}

    {% if words %}
        <div>
            {% if current_page > 1 %}
                <a class="button is-primary is-rounded" href="?page={{ current_page - 1 }}">Previous page</a>
            {% endif %}
            <a class="button is-primary is-rounded" href="?page={{ current_page + 1 }}">Next page</a>
        </div>

        {% for word in words %}
            <p>{{ word.word }} - {{ word.count }}</p>
        {% endfor %}
    {% else %}
        Words not found
    {% endif %}

{% endblock %}
